<% include ../partials/header %>


<div class="container animated fadeIn">
		<% if(success && success.length > 0) { %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
		<% if(error && error.length > 0) { %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
    <h1>Sessions</h1>
		<hr>
		<% if(currentUser.isAdmin){ %>
			<a href="/session/new" class="btn btn-success"><i class="fas fa-plus-square"></i> Add New Session</a>
		<% } %>
    <p></p>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
					<% sessions.forEach(function(session) { %>
						<a href="/session/<%= session._id %>">
							<li class="list-group-item">
								<%= session.season %> <%= session.year %>
							</li>
						</a>
					<% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>