<% include ../partials/header %>

<div class="container animated fadeIn">
    <% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if(error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
    <h1><%= session.season %> <%= session.year %></h1>
    <p>Start Date: <%= session.startDate %></p>
    <p>End Date: <%= session.endDate %></p>
    <% if(currentUser && currentUser.isAdmin) { %>
      <a href="/session/<%= session._id %>/edit" class="btn btn-warning btn-sm"><i class="far fa-edit"></i> Edit</a>
      <form action="/session/<%= session._id %>/?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-sm" style="margin-top: 10px;"><i class="fas fa-trash-alt"></i> Delete</button>
      </form>
    <% } %>
    <hr>

    <div class="row">
        <div class="col-md-6 col-sm-auto col-auto">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header">
                  Classes
                </h5>
                <% if(currentUser && currentUser.isAdmin) { %>
                    <a href="/session/<%= session._id %>/class/new" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i>
                        Add Class
                    </a>
                <% } %>
                <ul class="list-group list-group-flush">
                    <% for(let i = 0; i < classes.length; i++) { %>
                        <li class="list-group-item">
                          <a href="/session/<%= session._id %>/class/<%= classes[i]._id %>">
                            <%= classes[i].levelName %>
                          </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-auto col-auto">
            <div class="card float-right" style="width: 18rem;">
                <h5 class="card-header">
                  Instructors
                </h5>
                <% if(currentUser && currentUser.isAdmin) { %>
                    <a href="/session/<%= session._id %>/instructor/new" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i>
                        Add Instructor
                    </a>
                <% } %>
                <ul class="list-group list-group-flush">
                    <% instructors.forEach(function(instructor) { %>
                        <li class="list-group-item">
                            <a href="/user/<%= instructor._id %>"><%= instructor.firstName %> <%= instructor.lastName %></a>
                            <% if(currentUser && currentUser.isAdmin) { %>
                                <form class="inline" action="/session/<%= session._id %>/instructor/<%= instructor._id %>?_method=PUT" method="POST">
                                    <button type="submit" class="float-right btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteInstructor">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
