<% include ./partials/header %>

<div class="container">
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
    <h1 style="text-align: center">My Dashboard</h1>
    <hr>

    <!-- Agenda code -->
    <div class="alert alert-primary">
    <h4>Welcome</h4>
    <p>Today's Date: 
      <%= days[(new Date()).getDay()] %>, <%= months[(new Date()).getMonth()] %> <%= (new Date()).getDate() %>, 
      <%= (new Date()).getFullYear() %>
    </p>
    <p>You can find upcoming classes and employee schedules below.</p>
    </div>
    <hr>
<% include ./partials/footer %>
