<% include ./partials/header %>

<div class="container">
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
    <h1 style="text-align: center">My Dashboard</h1>
    <hr>

    <div class="alert alert-primary">
      <h4>Welcome</h4>
      <p>Today's Date:
        <%= days[(new Date()).getDay()] %>, <%= months[(new Date()).getMonth()] %> <%= (new Date()).getDate() %>,
        <%= (new Date()).getFullYear() %>
      </p>
      <p>You can find a list of your classes below.</p>
    </div>
    <hr>

    <!-- AGENDA -->

    <div class="container">
      <% for (var key in foundClasses) { %>
        <a href="/session/<%= foundClasses[key].session.id %>/class/<%= foundClasses[key]._id %>">
        <div class="row row-striped agenda">
          <div class="col-10">
            <h3 class="text-uppercase"><strong><%= foundClasses[key].levelName %></strong></h3>
            <h6><%= foundClasses[key].session.season %> <%= foundClasses[key].session.year %></h6>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fas fa-calendar-alt"></i> <%= foundClasses[key].dayOfWeek %></li>
              <li class="list-inline-item"><i class="fas fa-clock"></i> <%= foundClasses[key].startTime %> - <%= foundClasses[key].endTime %></li>
            </ul>
          </div>
        </div>
      </a>
      <% } %>
    </div>
<div>


<% include ./partials/footer %>
