<% include ./partials/header %>

<div class="container">
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
    <h1 style="text-align: center">My Dashboard</h1>
    <hr>

    <div class="alert alert-primary">
      <h4>Welcome</h4>
      <p>Today's Date: 
        <%= days[(new Date()).getDay()] %>, <%= months[(new Date()).getMonth()] %> <%= (new Date()).getDate() %>, 
        <%= (new Date()).getFullYear() %>
      </p>
      <p>You can find upcoming classes and employee schedules below.</p>
    </div>
    <hr>

    <!-- AGENDA -->

    <div class="container">
        <div class="row row-striped">
          <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
            <h2>OCT</h2>
          </div>
          <div class="col-10">
            <h3 class="text-uppercase"><strong>A / Water Discovery</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
              <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
              <!-- <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li> -->
            </ul>
            <p>Blow bubbles on surface, assisted</p>
          </div>
        </div>
        <div class="row row-striped">
          <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
            <h2>OCT</h2>
          </div>
          <div class="col-10">
            <h3 class="text-uppercase"><strong>B / Water Exploration</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
              <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
              <!-- <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Room 4019</li> -->
            </ul>
            <p>Water exit assisted</p>
          </div>
        </div>
      </div>



<% include ./partials/footer %>
