<% include ../partials/header %>

<div class="container animated fadeIn">
    <% if(success && success.length > 0) { %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
		<% if(error && error.length > 0) { %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
  <h1><i class="fas fa-swimmer"></i> <%= foundClass.levelName %></h1>
  <h5> 
    Taught by:
    <%= foundClass.instructor.firstName %> <%= foundClass.instructor.lastName %> 
  </h5>
  <h6>
    <%= foundClass.session.season %> <%= foundClass.session.year %>
  </h6>
  <h6>
    <%= foundClass.dayOfWeek %> <%= foundClass.startTime %> - <%= foundClass.endTime %>
  </h6>
  <% if(currentUser && currentUser._id.equals(foundClass.instructor.id) || currentUser && currentUser.isAdmin) { %>
  <a href="/session/<%=foundClass.session.id%>/class/<%=foundClass._id%>/edit" class="btn btn-warning btn-sm" style="margin-bottom: 5px;">
    <i class="far fa-edit"></i> 
    Edit
  </a>
  <form action="/session/<%=foundClass.session.id%>/class/<%=foundClass._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>
  </form>
<% } %>
  <hr>

<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">
        Enrolled Students
        <% if(currentUser && currentUser._id.equals(foundClass.instructor.id) || currentUser && currentUser.isAdmin) { %>
        <a href="/session/<%= foundClass.id %>/class/<%= foundClass._id %>/student/new"><i class="fas fa-user-plus float-right"></i></a>
        <% } %>
      </h5>
      <ul class="list-group list-group-flush">
        <% foundClass.students.forEach(function(student) { %>
          <a href="/students/<%= student._id %>">
            <li class="list-group-item"><%= student.firstName %> <%= student.lastName %></li>
          </a>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card" style="width: 100%; margin-left: 2%;">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-calendar-alt"></i> Days</h5>
        <% if(currentUser && currentUser._id.equals(foundClass.instructor.id) || currentUser && currentUser.isAdmin) { %>
        <a href="/session/<%= foundClass.session.id %>/class/<%= foundClass._id %>/day/new" class="btn btn-primary btn-sm">
          <i class="fas fa-plus"></i> 
          Add new day
        </a>
        <% } %>
        <hr>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
          <% foundClass.days.forEach(function(classDay) { %>
            <div class="card" style="width: 14rem; margin-left: 5%; margin-bottom: 5%;">
              <h5 class="card-header">
                <%= classDay.date %>
              </h5>
              <div class="card-body">
                <p><%= classDay.instructor %></p>
                
                <hr>
                <a href="/session/<%= foundClass.session.id %>/class/<%= foundClass._id %>/day/<%= classDay._id %>" class="btn btn-primary btn-sm float-left">
                  <i class="fas fa-eye"></i> 
                  View
                </a>
                <% if(currentUser && currentUser._id.equals(foundClass.instructor.id) || currentUser && currentUser.isAdmin) { %>
                <form class="inline" action="/session/<%= foundClass.session.id %>/class/<%= foundClass._id %>/day/<%= classDay._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
                <% } %>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
