<% include ../partials/header %>

<div class="container">
    <% if(success && success.length > 0) { %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
		<% if(error && error.length > 0) { %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% } %>
  <h1><%= foundClass.levelName %></h1>
  <h5>
    Taught by:
    <%= foundClass.instructor.firstName %> <%= foundClass.instructor.lastName %>
  </h5>
  <h6>
    <%= foundClass.session.season %> <%= foundClass.session.year %>
  </h6>
  <h6>
    <%= foundClass.dayOfWeek %> <%= foundClass.startTime %> - <%= foundClass.endTime %>
  </h6>
  <hr>

<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header">
        Enrolled Students
        <a href="/session/<%= foundClass.id %>/class/<%= foundClass._id %>/student/new"><i class="fas fa-user-plus float-right"></i></a>
      </h5>
      <ul class="list-group list-group-flush">
        <% foundClass.students.forEach(function(student) { %>
          <li class="list-group-item"><%= student.firstName %> <%= student.lastName %></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card" style="width: 100%; margin-left: 2%;">
      <div class="card-body">
        <h5 class="card-title">Days</h5>
        <a href="/session/<%= foundClass.session.id %>/class/<%= foundClass._id %>/day/new" class="btn btn-primary btn-sm">Add new day</a>
        <hr>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
          <% foundClass.days.forEach(function(day) { %>
            <div class="card" style="width: 14rem; margin-left: 5%; margin-bottom: 5%;">
              <h5 class="card-header">
                <%= day.date %>
              </h5>
              <div class="card-body">
                <p><%= day.instructor %></p>
                <hr>
                <a href="/session/<%= foundClass.session.id %>/class/<%= foundClass._id %>/day/<%= day._id %>" class="btn btn-primary btn-sm">View</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
