<% include ../partials/header %>

<div class="container">
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
	<% } %>
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <h1><%= foundClass.levelName %></h1>
    <h5>
      Taught by:
      <%= foundClass.instructor.firstName %> <%= foundClass.instructor.lastName %>
    </h5>
    <h6>
      <%= foundClass.session.season %> <%= foundClass.session.year %>
    </h6>
    <h6>
      <%= foundClass.dayOfWeek %> <%= foundClass.startTime %> - <%= foundClass.endTime %>
    </h6>
    <h3 style="text-align: center;"><%= day.date %></h4>
    <hr>
    <form action="/session/<%= foundClass.session.id %>/class/<%= foundClass._id %>/day/<%= day._id %>?_method=PUT" method="POST">
        <h4 style="text-align: center;">Attendance</h4>
        <% foundClass.students.forEach(function(student) { %>
            <div class="form-check form-check-inline">
                <% if(presentStudents.indexOf(student._id) > -1) { %>
                    <input class="form-check-input" type="checkbox" name="students" value="<%=student._id%>" id="defaultCheck1" checked>
                    <label class="form-check-label" for="defaultCheck1">
                        <%= student.firstName %> 
                        <%= student.lastName %>
                    </label>
                <% } else { %>
                    <input class="form-check-input" type="checkbox" name="students" value="<%=student._id%>" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        <%= student.firstName %> 
                        <%= student.lastName %>
                    </label>
                <% } %> 
            </div>
        <% }) %>
        <hr>
        <p>✗ = Not achieved</p>
        <p>≈ = Taught but yet achieved</p>
        <p>✓ = Achieved</p>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Skills</th>
                    <% foundClass.students.forEach(function(student) { %>
                    <th scope="col"><%= student.firstName %> <%= student.lastName %></th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% skills.forEach(function(skill) { %>
                    <tr>
                        <th scope="row"><%= skill %></th>
                        <% for(var i = 0; i < foundClass.students.length; i++) { %>
                            <td>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="skills[<%=foundClass.students[i]._id%>.<%=skill%>]" id="inlineRadio1" value="-1" required>
                                    <label class="form-check-label" for="inlineRadio1">✗</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="skills[<%=foundClass.students[i]._id%>.<%=skill%>]" id="inlineRadio2" value="0">
                                    <label class="form-check-label" for="inlineRadio2">≈</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="skills[<%=foundClass.students[i]._id%>.<%=skill%>]" id="inlineRadio3" value="1">
                                    <label class="form-check-label" for="inlineRadio3">✓</label>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <hr>
        <% if(currentUser && currentUser._id.equals(foundClass.instructor.id) || currentUser && currentUser.isAdmin) { %>
        <h4>Additional Notes</h4>
        <input type="text" name="notes" class="form-control" value="<%= day.notes %>">
        <hr>
        <% } %>
        <% if(currentUser && currentUser._id.equals(foundClass.instructor.id) || currentUser && currentUser.isAdmin) { %>
        <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom: 5%;">Save</button>
        <a class="btn btn-danger btn-sm" href="/session/<%=foundClass.session.id%>/class/<%= foundClass._id %>" style="margin-bottom: 5%;">
            Cancel
        </a>
        <% } %>
    </form>
</div>

<% include ../partials/footer %>