<% include ../partials/header %>

<div class="container animated fadeIn">
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <h2>Edit Skills Checklist</h2>
    <form action="/students/<%= foundStudent._id %>/editskills?_method=PUT" method="POST">
        <% for(var i = 0; i < classes.length; i++) { %>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col"><%= classes[i].name %></th>
                    <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var j = 0; j < classes[i].skills.length; j++) { %>
                        <tr>
                            <th>
                                <%= classes[i].skills[j] %>
                            </th>

                            <% var key = foundStudent._id + '.' + classes[i].skills[j] + ': ' + classes[i].name %>
                            <% if(foundStudent.skills[key] === '-1') { %>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio1" value="-1" checked required>
                                        <label class="form-check-label" for="inlineRadio1">✗</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]"id="inlineRadio2" value="0">
                                        <label class="form-check-label" for="inlineRadio2">≈</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio3" value="1">
                                        <label class="form-check-label" for="inlineRadio3">✓</label>
                                    </div>
                                </td>
                            <% } else if(foundStudent.skills[key] === '0') { %>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio1" value="-1" required>
                                        <label class="form-check-label" for="inlineRadio1">✗</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]"id="inlineRadio2" value="0" checked>
                                        <label class="form-check-label" for="inlineRadio2">≈</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio3" value="1">
                                        <label class="form-check-label" for="inlineRadio3">✓</label>
                                    </div>
                                </td>
                            <% } else if (foundStudent.skills[key] === '1') { %>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio1" value="-1" required>
                                        <label class="form-check-label" for="inlineRadio1">✗</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]"id="inlineRadio2" value="0">
                                        <label class="form-check-label" for="inlineRadio2">≈</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio3" value="1" checked>
                                        <label class="form-check-label" for="inlineRadio3">✓</label>
                                    </div>
                                </td>
                            <% } else { %>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio1" value="-1" required checked>
                                        <label class="form-check-label" for="inlineRadio1">✗</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]"id="inlineRadio2" value="0">
                                        <label class="form-check-label" for="inlineRadio2">≈</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="skills[<%=foundStudent._id%>.<%= classes[i].skills[j] %>: <%= classes[i].name %>]" id="inlineRadio3" value="1">
                                        <label class="form-check-label" for="inlineRadio3">✓</label>
                                    </div>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <p></p>
        <% } %>
        <hr>
        <div class="float-right" style="margin-bottom: 5%;">
            <button class="btn btn-primary btn-sm" type="submit">Save</button>
            <a class="btn btn-danger btn-sm" href="#">Cancel</a>
        </div>
    </form>
</div>

<% include ../partials/footer %>