<% include ../partials/header %>

<div class="container animated fadeInUp">
  <div class="parent">
      <div class="form" style="text-align: center;">
          <div class="row">
              <div class="shadow-lg p-3 mb-5 bg-white rounded">
					<form action="/students" method="POST">
						<h2>New Student</h2>
						<hr>
						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="firstName">First Name</label>
								<input type="text" name="student_first_name" class="form-control" id="firstName" placeholder="Jane" required>
							</div>
							<div class="form-group col-md-2">
								<label for="middleName">Middle Initial</label>
								<input type="text" name="student_middle_name" class="form-control" id="middleName" placeholder="M" maxlength="1">
							</div>
							<div class="form-group col-md-5">
								<label for="lastName">Last Name</label>
								<input type="text" name="student_last_name" class="form-control" id="lastName" placeholder="Doe" required>
							</div>
						</div>
						<h5>Date of Birth & Gender</h5>
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="month">Month</label>
								<select name="student_month" class="form-control" id="month" required>
									<option disabled selected>Select</option>
									<% months.forEach(function(month) { %>
										<option value="<%= month %>"> <%= month %> </option>
									<% }) %>
								</select>
							</div>
							<div class="form-group col-md-2">
								<label for="day">Day</label>
								<input type="number" name="student_day" class="form-control" id="day" min="1" max="31" required>
							</div>
							<div class="form-group col-md-3">
								<label for="year">Year</label>
								<select name="student_year" class="form-control" id="year" required>
									<option disabled selected> Select </option>
									<% for(var i = (new Date()).getFullYear(); i >= 1920 ; i--) { %>
										<option value="<%= i %>"><%= i %></option>
									<% } %>
								</select>
							</div>
							<div class="form-group col-md-4">
								<label for="gender">Gender</label>
								<select name="student_gender" class="form-control" id="gender" required>
									<option disabled selected>Select</option>
									<% genders.forEach(function(gender) { %>
										<option value="<%= gender %>"><%= gender %></option>
									<% }) %>
								</select>
							</div>
						</div>
						<hr>
						<button type="submit" class="btn btn-primary btn-sm">Submit</button>
						<a href="/students" class="btn btn-danger btn-sm">Cancel</a>
					</form>
              </div>
          </div>
      </div>
  </div>
</div>

<% include ../partials/footer %>