<% include ../partials/header %>

<br>
<div class="container animated fadeIn">
	<h1><i class="far fa-address-card"></i> Student Profile</h1>
	<hr>
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if(error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<div class="row">
		<div class="col-md-4">
				<div class="card bg-light mb-3" style="max-width: 18rem;">
						<h4 class="card-header">
							<%= student.firstName %> 
							<% if(student.middleName.length > 0) { %>
								<%= student.middleName %>.
							<% } %>
							 <%= student.lastName %>
							</h4>
							<div class="card-body">
							<h5 class="card-title"><Light card title><i class="fas fa-user"></i> Personal Information</h5>
							<hr>
								<p class="card-text"><i class="fas fa-smile"></i> Age: <%= (new Date()).getFullYear() - student.year %></p>
								<p class="card-text">
										<i class="fas fa-birthday-cake"></i> Date of Birth: <%= student.month %>  <%= student.day %>, <%= student.year %>
								</p>
								<p class="card-text">
									<% if(student.gender === "Male") { %>
										<i class="fas fa-mars"></i>
									<% } else if(student.gender === "Female") { %>
										<i class="fas fa-venus"></i>
									<% } else { %>
										<i class="fas fa-transgender-alt"></i>
									<% } %>
										Gender: <%= student.gender %>
								</p>
							<% if(currentUser && currentUser.isAdmin) { %>
							<a href="/students/<%= student._id %>/edit" class="btn btn-warning btn-sm"><i class="far fa-edit"></i> Edit Info</a>
							<% } %>
							<% if(currentUser && currentUser.isAdmin) { %>
								<button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteModal">
									<i class="fas fa-trash-alt"></i> Delete
								</button>
							<% } %>
							<% if(currentUser && currentUser.isAdmin) { %>
							<a href="/students/<%= student._id %>/editskills" class="btn btn-warning btn-sm" style="margin-top: 3%;"><i class="far fa-edit"></i> Edit Skills Checklist</a>
							<% } %>
						</div>
					</div>
		</div>
		<div class="col-md-8">
			<h4><i class="fas fa-chart-pie"></i> Overall Skills Chart</h4>
			<hr>
			<canvas id="myChart" style="position: relative; height:40vh; width:80vw"></canvas>
			<hr>
			<h4><i class="fas fa-bars"></i> List of Skills</h4>
			<div class="card" style="width: 100%; margin-bottom: 3%;">
				<h4 class="card-header">
					✓ Completed Skills
				</h4>
				<ul class="list-group list-group-flush">
					<% for(keys in student.skills) { %>
						<% if(student.skills[keys] === '1') { %>
							<li class="list-group-item"><%= keys.substring(25, keys.length) %></li>
						<% } %>
					<% } %>
				</ul>
			</div>
			<div class="card" style="width: 100%; margin-bottom: 3%;">
				<h4 class="card-header">
					≈ Taught, but yet acheived
				</h4>
				<ul class="list-group list-group-flush">
					<% for(keys in student.skills) { %>
						<% if(student.skills[keys] === '0') { %>
							<li class="list-group-item"><%= keys.substring(25, keys.length) %></li>
						<% } %>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>


	  
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Student Delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		<div class="modal-body">
			Are you sure you want to delete this student?
		</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times fa-lg"></i> Close</button>
				<form class="inline" action="/students/<%= student._id %>?_method=DELETE" method="POST">
					<button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<p id="achieved" hidden><%= mastered %></p>
<p id="notAchieved" hidden><%= notMastered %></p>
<p id="notTaught" hidden><%= notTaught %></p>

<script>
	var achieved = document.getElementById('achieved').innerHTML;
	achieved = parseInt(achieved, 10);
	var notAchieved = document.getElementById('notAchieved').innerHTML;
	notAchieved = parseInt(notAchieved, 10);
	var notTaught = document.getElementById('notTaught').innerHTML;
	notTaught = parseInt(notTaught, 10);

	var ctx = document.getElementById("myChart");
	var myDoughnutChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: ['Achieved', 'Taught, but yet achieved', 'Not taught'],
			datasets: [
				{
					label: 'skills',
					backgroundColor: ['#F98866', '#FF420E', '#80BD9E'],
					data: [achieved, notAchieved, notTaught]
				}
			]
		}
	});
</script>

<% include ../partials/footer %>