<% include ../partials/header %>

<br>
<div class="container">
	<h1><i class="far fa-address-card"></i> Student Profile</h1>
	<hr>
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<% if(error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<div class="row">
		<div class="col-md-4">
				<div class="card bg-light mb-3" style="max-width: 18rem;">
						<div class="card-header">
							<%= student.firstName %> 
							<% if(student.middleName.length > 0) { %>
								<%= student.middleName %>.
							<% } %>
							 <%= student.lastName %></div>
							<div class="card-body">
							<h5 class="card-title"><Light card title><i class="fas fa-user"></i> Personal Information</h5>
							<hr>
								<p class="card-text"><i class="fas fa-smile"></i> Age: <%= (new Date()).getFullYear() - student.year %></p>
								<p class="card-text">
										<i class="fas fa-birthday-cake"></i> Date of Birth: <%= student.month %>  <%= student.day %>, <%= student.year %>
								</p>
								<p class="card-text">
									<% if(student.gender === "Male") { %>
										<i class="fas fa-mars"></i>
									<% } else if(student.gender === "Female") { %>
										<i class="fas fa-venus"></i>
									<% } else { %>
										<i class="fas fa-transgender-alt"></i>
									<% } %>
										Gender: <%= student.gender %>
								</p>
							<% if(currentUser && currentUser.isAdmin) { %>
							<a href="/students/<%= student._id %>/edit" class="btn btn-warning btn-sm"><i class="far fa-edit"></i> Edit Info</a>
							<% } %>
							<% if(currentUser && currentUser.isAdmin) { %>
								<form class="inline" action="/students/<%= student._id %>?_method=DELETE" method="POST">
									<button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>
								</form>
							<% } %>
						</div>
					</div>
		</div>
		<div class="col-md-8">
			<div class="card" style="width: 100%;">
				<h4 class="card-header">
					Completed Skills
				</h4>
				<ul class="list-group list-group-flush">
					<% student.skills.forEach(function(skill) { %>
						<% if(skill.status == "1") { %>
							<li class="list-group-item"><%= skill.name %></li>
						<% } %>
					<% }) %>
				</ul>
			</div>
			<div class="card" style="width: 100%;">
					<h4 class="card-header">
						Taught, but yet acheived
					</h4>
					<ul class="list-group list-group-flush">
						<% student.skills.forEach(function(skill) { %>
							<% if(skill.status == "0") { %>
								<li class="list-group-item"><%= skill.name %></li>
							<% } %>
						<% }) %>
					</ul>
				</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>